@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=IBM+Plex+Sans:wght@500;700&family=Montserrat:wght@600&family=Philosopher:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    position: relative;
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.container{
    max-width: 1214px;
    padding: 0 22px;
    margin: 0 auto;
}
.mobile_menu{
    display: none;
}
.mobile_menu-inner{
    display: flex;
    align-items: center;
    gap: 0 5px;
    padding: 6px 10px 8px 10px;
    border-radius: 3px;
    border: 1px solid $green;
}
.mobile_menu-icon{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    span{
        width: 10px;
        height: 2px;
        background-color: $green;
    }
}