@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=IBM+Plex+Sans:wght@500;700&family=Montserrat:wght@600&family=Philosopher:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    position: relative;
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
    max-width: 1920px;
    margin: 0 auto;
}
.container{
    max-width: 1214px;
    padding: 0 22px;
    margin: 0 auto;
}
.title{
    text-align: center;
    font-family: $font-Philosopher;
    font-size: 40px;
    line-height: 36px;
    color: #363434;
}
.subtitle{
    font-family: $font-main;
    font-weight: 300;
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    color: #363434;
}
.mobile_menu{
    display: none;
}
.header_list.active{
    left: 0;
}
.header_list.active .clouse{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    cursor: pointer;
}
.clouse{
    display: none;
}
.mobile_menu-inner{
    display: flex;
    align-items: center;
    gap: 0 5px;
    padding: 6px 10px 6px 10px;
    border-radius: 3px;
    border: 1px solid $green;
}
.mobile_menu-icon{
    display: flex;
    flex-direction: column;
    span{
        width: 10px;
        height: 2px;
        margin-bottom: 2px;
        background-color: $green;
    }
}
@media(max-width:1300px){
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size: 13px;
    }
}
@media (max-width:768px){
    .title{
        font-size: 27px;
    }
}
@media(max-width:480px){
    .title{
        font-size: 21px;
    }
    .header_list.active{
        width: 100%;
    } 
}
