//fonts
$font-main: 'Roboto', sans-serif;
$font-Philosopher:'Philosopher', sans-serif;
$font-Montserrat:'Montserrat', sans-serif;
$font-IBM:'IBM Plex Sans', sans-serif;
$font-Alegreya:'Alegreya Sans', sans-serif;
//Colors
$green : #008139;
