.banner{
    background: url(/img/banner-fon.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    .tree-left{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .tree-right{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .clouds{
        position: absolute;
        bottom: 15px;
    }
}
.banner_inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 235px;

}
.banner_info{
    position: relative;
    text-align: left;
    transform: translateY(-99px);
    .amber{
        position: absolute;
        top: 415px;
        left: -35px;
    }
    .hourse{
        position: absolute;
        top: 380px;
        left: 350px;
    }
    .tree{
        position: absolute;
        top: 270px;
        left: -370px;
    }
}
.banner_info-title{
    max-width: 730px;
    font-family: $font-Philosopher;
    font-weight: 700;
    font-size: 57px;
    line-height: 107%;
    color: #000;
    margin-bottom: 40px;
}
.banner_info-subtitle{
    position: relative;
    max-width: 477px;
    transform: translateX(50px);
    font-family: $font-Alegreya;
    font-weight: 400;
    line-height: 140%;
    font-size: 24px;
    color: #646464;
    margin-bottom: 42px;
    a{
        font-weight: 700;
        color: #646464;
    }
    &::after{
        position: absolute;
        content: "";
        top: 15px;
        left: -50px;
        width: 26px;
        height: 1px;
        background-color: #8F8F8F;
    }
}
.banner_info-btn{
    position: relative;
    text-transform: uppercase;
    font-family: $font-Montserrat;
    font-weight: 600;
    line-height: 32px;
    font-size: 15px;
    letter-spacing: 1.05px;
    color: #6A5300;
    padding: 21px 75px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgb(255 223 0 / 0%) 0%, #FFC700 100%);
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 5px;
        left: 0;
        z-index:-1;
        border-radius: 5px;
        background: linear-gradient(180deg, #ffdf0066 0%, #ad9029 100%);
    }
}
.banner_img{
    transform: translateX(-35px);
}
@media (max-width:1400px) {
    .banner_info-title {
        font-size: 47px;
        margin-bottom: 30px;
        max-width: 506px;
    }
    .banner_info-subtitle {
        font-size: 20px;
        margin-bottom: 35px;
    }
    .banner_info-btn {
        font-size: 13px;
        padding: 14px 53px;
    }
    .banner_img {
        width: 381px;
        height: 437px;
        transform: translate(20px, 60px);
    }
    .banner .tree-left {
        max-width: 100px;
    }
    .banner .tree-right {
        max-width: 61px;
    }
    .banner .clouds {
        bottom: 0px;
    }
    .banner_info .hourse {
        position: absolute;
        top: 395px;
        left: 450px;
        width: 155px;
        height: 136px;
    }
    .banner_info .amber {
        position: absolute;
        top: 385px;
        left: 160px;
        width: 301px;
        height: 135px;
    }
    .banner_info .tree {
        position: absolute;
        top: 315px;
        left: -40px;
        width: 230px;
        height: 170px;
    }
}
@media (max-width:1000px){
    .banner_inner {
        padding-top: 110px;
    }
    .banner_info {
            transform: translateY(45px);
         .tree{
            width: 158px;
            height: 117px;
            top: 360px;
            left: -55px;
        }
        .amber{
            width: 207px;
            height: 93px;
            top: 375px;
            left: 95px;
        }
        .hourse{
            width: 114px;
            height: 111px;
            top: 355px;
            left: 280px;
        }
    }
    .banner_info-title{
        font-size: 37px;
        margin-bottom: 25px;
        width: 400px;
    }
    .banner_info-subtitle {
        font-size: 16px;
        margin-bottom: 25px;
        width: 330px;
        transform: translateX(30px);
        &::after{
            position: absolute;
            content: "";
            top: 13px;
            left: -30px;
            width: 15px;
            height: 1px;
            background-color: #8F8F8F;
        }
    }
    .banner_info-btn{
        font-size: 11px;
        padding: 10px 50px;
    }
    .tree-right{
        width: 42px;
    }
    .tree-left{
        width: 68px;
    }
    .banner_img {
        width: 368px;
        height: 371px;
        transform: translate(-10px, 210px);
    }

}
@media (max-width:768px){
    .banner_inner{
        display: block;
        padding-top: 110px;
    }
   .banner_info{
    text-align: center;
        .banner_info-title,
        .banner_info-subtitle{
            width: 480px;
            max-width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .banner_info-title{
            font-size: 43px;
        }
        .banner_info-subtitle{
            padding-top:6px;
            font-size: 16px;
            transform: translateX(0px);
            &::after{
                top: -5px;
                left: 234px;
            }
        }
   }
   .banner_img {
        position: absolute;
        bottom: -120px;
        right: 0;
        width: 240px;
        height: 240px;
}
   .banner_info{
        .tree {
            top: 366px;
        }
        .amber {
            top: 392px;
        }
        .hourse {
            top: 380px;
        }
    }
}
@media (max-width:680px){
    .banner_info{
        .tree {
            top: 378px;
            left: -75px;
        }
        .amber {
            top: 410px;
            left: -5px;
        }
        .hourse {
            top: 411px;
            left: 175px;
        }
    }
    .banner_img {
        right: -25px;
    }
}
@media (max-width:550px){
    .banner{
        height: 677px;
        min-height: auto;
    }
    .tree-right{
        width: 34px;
    }
    .tree-left{
        width: 44px;
    }
    .banner {
        .clouds {
            bottom: 0px;
        }
    }
    .banner_info{
        .tree {
            left: -96px;
        }
        .amber {
            left: -25px;
        }
        .hourse {
            top: 385px;
            left: 160px;
        }
        .banner_info-title{
            font-size: 33px;
        }
        .banner_info-subtitle{
            font-size: 16px;
            width: 428px;
            &::after{
                left: 205px;
            }
        }
    }
    .banner_img{
        width: 189px;
        height: 190px;      
    }
}
@media (max-width:480px){
    .banner_info{
        .banner_info-title{
            font-size: 24px;
            width: 320px;
        }
        .banner_info-subtitle{
            font-size: 13px;
            width: 320px;
            margin-bottom: 15px;
            &::after{
                left: 150px;
            }
        }
        .tree {
            left: -130px;
        }
        .amber {
            left: -50px;
        }
        .hourse {
            display: none;
        }
    }
    .banner_img{
        width: 205px;
        height: 198px;
        bottom: -165px;
    }
}
        
