.footer{
    position: relative;
    background: #0B0B0B;
    z-index: 3;
    padding: 25px 0;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.home_link{
    cursor: pointer;
}
.footer_navigation{
    display: flex;
    gap: 30px;
}
.footer_list{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer_link{
    color: #EAEAEA;
    font-size: 13px;
}
.footer_btn{
    padding: 14px 41px;
    color: #F5F5F5;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #FDE724;
}
.home_link--mobile{
    display: none;
}
.footer_bottom{
    display: flex;
    align-items: center;
    gap: 40px;
}
.container{
    .footer_bottom-link{
        color: #7D808A;
        font-size: 13px;
        text-decoration: underline;
    }
}
.year{
    display: none;
}
@media (max-width:1000px){
    .home_link-logo{
        width: 28px;
        height: 30px;
    }
    .home_link-logo-text{
        width: 71px;
        height: 29px;
    }
    .footer_btn{
        padding: 15px 32px;
    }
}
@media (max-width:768px){
    .footer{
        padding: 40px 0 30px 0;
    }
    .home_link{
        display: none;
    }
    .footer_inner{
        display: block;
    }
    .footer_navigation {
        display: block;
        text-align: center;

    }
    .footer_list{
        margin-bottom: 30px;
        justify-content: space-between;
    }
    .footer_btn{
        margin-bottom: 30px
    }
    .home_link--mobile{
        display: block;
        margin-bottom: 32px;
    }
    .footer_bottom{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 93px;
    }
    .year{
        display: block;
        text-align: center;
        color: #fff;
        font-size: 10px;
    }
}
@media (max-width:480px){
   .footer_list{
    flex-direction: column;
   } 
}