.gallery_inner{
    padding: 150px 0 140px;
}
.visitors_title{
    margin-bottom: 70px;
}
.visitors_slide-top{
    margin-bottom: 5px;
}
.visitors_slide-top,
.visitors_slide-bottom{
    display: flex;
    gap: 5px;
}
