.gallery_inner{
    padding: 150px 0 140px;
}
.visitors{
    margin-bottom: 150px;
}
.visitors_title{
    margin-bottom: 70px;
}
.swiper{
    .swiper-pagination-bullet-active {
        background:#FFC700;
    }
    .swiper-pagination-progressbar.swiper-pagination-horizontal{
        width: 96px;
        height: 8px;
        border-radius: 5px;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom, .swiper-pagination-fraction {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
        background:#FFC700 ;
        border-radius: 5px;
    }
}
.visitors_wrapper{
    max-width: 100%;
    padding-bottom: 60px;
}
.visitors_slide-top{
    margin-bottom: 5px;
}
.visitors_slide-top,
.visitors_slide-bottom{
    display: flex;
    gap: 5px;
}
.visitors-imgx,
.visitors-scrollbar{
    display: none;
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: -25px 0 0 -115px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0 130px;
}
.navigation_arrow{
    display: flex;
    justify-content: center;
    transform: translateY(10px);
    gap: 0 130px;
}
//// Horses
.swiper.horses_swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
    overflow-y: visible;
}
.swiper.horses_swiper .swiper-slide{
    transition: transform 0.3s ease-in;
    opacity: 0.5;
}
.swiper.horses_swiper .swiper-slide-prev,
.swiper.horses_swiper .swiper-slide-active,
.swiper.horses_swiper .swiper-slide-next{
    transform: translateY(40px); 
    opacity: 1;
}
.horses_title{
    margin-bottom: 95px;
}
.horses_slide-inner{
    padding: 0px 25px 45px 25px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.07);
}
.horses-img{
    display: block;
    border-radius: 5px;
    transform: translateY(-25px);
}
.horses_slide-title{
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    color: #363434;
    margin-bottom: 50px;
}
.horses_slide-subtitle{
    position: relative;
    max-width: 305px;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #7E7E7E;
    &::after{
        position: absolute;
        content: "";
        width: 26px;
        height: 1px;
        background: #008139;
        top: -25px;
        left: 46%;
    }
}
.navigation_horses{
    bottom: -120px;
}
@media (max-width:1300px){
    .visitors{
        margin-bottom: 120px;
    }
    .horses_title{
        margin-bottom: 65px;
    }
    .swiper.horses_swiper .swiper-slide{
        opacity: 1;
    }
    .swiper.horses_swiper .swiper-slide-prev,
    .swiper.horses_swiper .swiper-slide-active,
    .swiper.horses_swiper .swiper-slide-next{
        transform: translateY(0px); 
    }
    .horses_slide-title{
        font-size: 15px;
        line-height: 15px;
    }
    .horses_slide-subtitle{
        font-size: 14px;
    }
}
@media (max-width:1000px) {
    .gallery_inner{
        padding: 107px 0 115px;
    }
    .visitors{
        margin-bottom: 90px;
    }
    .visitors_title{
        margin-bottom: 40px;
    }
    .visitors-img,
    .visitors-pagination{
        display: none;
    }
    .visitors-scrollbar{
        display: block;
    }
    .visitors_wrapper{
        margin-bottom: 30px;
    }
    .visitors_slide-top{
        margin-bottom: 3px;
    }
    .visitors_slide-top,
    .visitors_slide-bottom{
        gap: 3px;
    }
    .navigation_arrow{
        transform: translateY(25px);
    }
    .visitors{
        margin-bottom: 90px;
    }
    .horses_slide-inner{
        padding: 0px 16px 31px 17px;
    }
    .horses_slide-title{
        margin-bottom: 30px;
    }
    .horses_slide-subtitle{
        font-size: 12px;
        line-height: 18px;
        &::after{
            top: -15px;
            left: 45%;
        }
    }
    .navigation_horses {
        bottom: -40px;
    }
}
@media (max-width:768px) {
    .gallery_inner{
        padding: 56px 0 61px;
    }
    .visitors_title{
        margin-bottom: 30px;
    }
    .visitors_slide-top{
        margin-bottom: 1px;
    }
    .visitors_slide-top,
    .visitors_slide-bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        gap: 1px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .visitors-imgx{
        display: block;
    }
    .visitors-img{
        display: block;
    }
    .horses_title {
        margin-bottom: 60px;
    }
    .horses-img {
        transform: translateY(-20px);
    }
    .horses_slide-inner {
        padding: 0px 15px 14px 15px;
    }
    .horses_slide-title{
        margin-bottom: 20px;
    }
    .horses_slide-subtitle{
        font-size: 13px;
        line-height: 20px;
        &::after{
            top: -10px;
            left: 45%;
        }
    }
}
@media (max-width:480px) {
    .visitors_slide-top,
    .visitors_slide-bottom{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        gap: 1px;
    }
    .visitors{
        margin-bottom: 70px;
    }
    .horses_title {
        margin-bottom: 55px;
    }
}