.header{
    padding-top: 10px;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logoandMobile{
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.header_logo{
    width: 152px;
    height: 49px;
    cursor: pointer;
}
.header_list{
    text-transform: uppercase;
    display: flex;
    gap: 20px;
}
.header_link{
    position: relative;
    padding: 10px;
    color: #202020;

    &::after{
        position: absolute;
        content: "";
        width: 0;
        height: 3px;
        top: 40px;
        left: 0;
        background-color: #008139;
        transition:width 0.3s ease-in;
    }
    &:hover{
        color: black;
    }
    &:hover::after{
        width: 100%;
    }
}
.header_phon-link{
    position: relative;
    color: #202020;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0 10px;
    &::after{
        content: "Ежедневно 9:00 – 22:00";
        position: absolute;
        top: 22px;
        right: 0;
        color:#7D808A;
        font-size: 13px;
    }
}
.seagull{
    position: absolute;
    top: 135px;
    right: 190px;
}
.header_phon-img{
    width: 16px;
    height: 16px;
}
@media (max-width:1600px) {
    .seagull {
        right: 35px;
    }
}
@media (max-width:1000px){
    .header_logo{
        width: 120px;
        height: 39px;
    }
    .header_phon-link{
        width: 147px;
        height: 36px;
        text-align: right;
        font-size: 14px;
        gap: 0 5px;
        &::after{
            content: "Ежедневно 9:00 – 22:00";
            position: absolute;
            top: 28px;
            right: 0;
            color:#7D808A;
            font-size: 11px;
        }
    }
    .seagull {
        width: 200px;
        height: 62px;
        top: 225px;
    }
    .header_phon-img{
        width: 13px;
        height: 13px;
    }
    .header_list{
        gap: 10px;
    }
    .header_link{
        padding: 6px;
        font-size: 14px;
        &::after{
            top: 30px;
        }
    }
}
@media (max-width:768px){
    .mobile_menu{
        display: flex;
        align-items: center;
    }
    .header_list{
        position: absolute;
        top: 0;
        flex-direction: column;
        text-align: center;
        padding: 50px 55px;
        border-right: 5px solid #008139;
        gap: 35px 0;
        opacity: 0.95;
        background: #0D0D0D;
        height: 100vh;
        width: 50%;
        transform: translate(-500px, 0px);
        transition: transform 0.3s ease-in;
        .header_link{
            font-size: 18px;
            color: white;
            padding: 5px;
        }
    }
    .seagull{
        top: 70px;
        left: 30px;
    }
}
@media (max-width:550px){
    .header_logo{
        width: 89px;
        height: 29px;
    }
    .header_phon-link{
        width: 116px;
        height: 29px;
        font-size: 11px;
        &::after{
            font-size: 10px;
        }
    }
}
@media (max-width:480px){
    .header_phon-link{
        display: none;
    }
    .header_logoandMobile{
        justify-content: space-between;
        width: 100%;
    }
    .seagull{
        width: 101px;
        height: 32px;
    }
}