.reviews_inner{
    padding: 140px 0 150px 0;
}
.reviews_title{
    margin-bottom: 30px;
}
.reviews_slide-inner{
    text-align: center;
    padding: 40px 45px 35px 45px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0px 16px 51px 0px rgba(0, 0, 0, 0.11);
}
.reviews_slide-text,
.hidden{
    text-align: start;
    max-width: 480px;
    font-size: 15px;
    line-height: 24px;
    color: #363434;
    margin-bottom: 15px;
}
.hidden{
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-in;
}
.no-hidden{
    opacity: 1;
    height: 90px;
}
.continue{
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06); 
    cursor: pointer;   
    margin-bottom: 45px;
}
.continue.active .btn-arrow{
    transform: rotate(180deg);
}
.continue_inner{
    padding: 7px 15px 7px 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    span{
        color: #008139;
    }
}
.btn-arrow{
    transition: transform 0.3s ease-in;
}
.reviews_slide-bottom{
    display: flex;
    justify-content: space-between;
}
.reviews_slide-user{
    display: flex;
    gap: 20px;
}
.reviews_slide-user--left{
    border-radius: 45px;
    width: 45px;
    height: 45px;
}
.reviews_slide-user--right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 99;
    .social{
        display: flex;
        gap: 10px;
        z-index: 99;
        .svg{
            &:hover{
                fill: green;
            }
        }
    }
}
.reviews_swiper{
    height: 510px;
}
.swiper.reviews_swiper .swiper-slide{
    transition: transform 0.3s ease-in;
    opacity: 0.5;
}
.swiper.reviews_swiper .swiper-slide-active{
    transform: translateY(40px); 
    opacity: 1;
}
@media (max-width:1300px){
    .reviews_inner{
        padding: 120px 0;
    }
    .reviews_title{
        margin-bottom: 40px;
    }
    .reviews_slide-inner{   
        padding: 30px;
    }
    .reviews_slide-text,
    .hidden{
        font-size: 13px;
    }
    .no-hidden{
        height: 60px;
    }
    .continue{  
        margin-bottom: 40px;
    }
    .continue_inner{
        span{
            font-size: 13px;
        }
    }
    .reviews_slide-user {
        gap: 10px;
    }
    .user-name{
        font-size: 14px;
    }
    .reviews_swiper{
        height: 390px;
    }
    .swiper.reviews_swiper .swiper-slide{
        opacity: 1;
    }
    .swiper.reviews_swiper .swiper-slide-active{
        transform: translateY(0px); 
    }
}
@media (max-width:1000px){
    .reviews_inner{
        padding: 80px 0 90px 0;
    }
    .reviews_slide-inner{   
        padding: 20px;
    }
    .reviews_slide-text,
    .hidden{
        margin-bottom: 10px;
    }
    .no-hidden {
        height: 85px;
    }
    .reviews_slide-decor{
        width: 30px;
        height: 25px;
    }
    .reviews_swiper {
        height: 405px;
    }
}
@media (max-width:768px){
    .reviews_inner{
        padding: 100px 0 ;
    }
    .reviews_slide-text,
    .hidden{
        margin-bottom: 14px;
        max-width: 100%;
    }
}
@media (max-width:480px){
    .reviews_inner{
        padding: 70px 0 ;
    }
    .reviews_title{
        margin-bottom: 30px;
    }
    .reviews_slide-inner{   
        padding: 20px 15px;
    }
    .no-hidden {
        height: 100px;
    }
    .reviews_swiper {
        height: 430px;
    }
}